@model List<ItensVenda>

@{
    ViewData["Title"] = "Página do vendedor";
}
<h1>Itens da venda</h1>

<table class="table table-responsive table-hover text-start">
    <thead>
        <tr>
            <th scope="col">Quantidade</th>
            <th scope="col">Item</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Quantidade</td>
                <td><img src="@item.ItensModel.URLImagemItem" width="5%" /> @item.ItensModel.Nome</td>
                <td>@item.ItensModel.Preco</td>
            </tr>
        }

    </tbody>
</table>

<a role="button" class="btn btn-primary" asp-action="Index">Voltar</a>