@model IQueryable<ItensModel>

@{
  ViewData["Title"] = "Loja";
}



  <form asp-controller="Home" asp-action="Index" method="get">
    <div class="input-group mb-3">
    <input name="searchString" class="form-control" type="text" placeholder="Pesquise pelo nome">
    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </div>
  </form>

<br>

  @if (Model.Count() == 0)
  {
    
    <div class="col align-items-center">
    <h1>Desculpe, não conseguimos encontrar este item :(</h1>
    <h4>Lembrando que este projeto só conta com alguns itens</h4>
    </div>
  }

<div class="row row-cols-1 row-cols-md-6 g-4">
  @foreach (var item in Model)
  {
    <div class="col">
      <div class="card border-dark h-100 text-center">
        <img src="@item.URLImagemItem" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">@item.Nome</h5>
          <button type="button" class="btn btn-sm btn-danger" disabled>@item.Tipo.ToString().Replace("_", " ")</button>
          <div><p></p></div>
          <div class="card-footer">
              <a role="button" class="btn btn-primary" asp-controller="Carrinho" asp-action="AdicionarAoCarrinho" asp-route-id=@item.Id>Comprar por @item.Preco</a>
          </div>
        </div>
      </div>
    </div>
  }
  
</div>
</table>